*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding-top: -20px;
}

.line-dotted img {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}


.location {
    padding: 150px 0 400px 0;
    background-color: white;
    background: linear-gradient( to bottom, rgba(250, 251, 253, 0.9), rgba(250, 251, 253, 0.9) ), url(../components/images/Cleanest-city-in-africa-Kigali.jpg) no-repeat center center fixed;
    background-size: cover;
}

.location .container ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 5%;
  }
  
  .location .container ul li {
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
  }
  .location .container ul li .locations {
    flex: 1;
    margin: 0 1rem;
    font-weight: 600;
    font-size: 16px;
  }
  .location .container ul li i {
    font-size: 18px;
    color: white;
  }
  
  .location .container ul li .site-counter {
    color: #05C605;
  }
  .location .container .available-sites-counter {
    margin-top: 5%;
  }
  
  .location .container .available a {
    text-decoration: underline;
  }
  @media screen and (max-width: 767px) {
    .location.container ul {
      grid-template-columns: repeat(1, 250px);
    }
  }
  @media screen and (min-width: 767px) {
    .features {
      padding: 80px 2rem;
    }
  }
  