
.navbar{
    background-color: transparent;
}
  
.navbar.colorChange{
    background-color: #fff;
}

@media screen and (max-width: 767px)
{
    a{
       padding: 5px;
    }
    .navbar{
        background-color: #fff; 
    }
}

/* Specific styles for non-active links */
.link {
    color: white;
  }
  
  /* Specific styles for active links */
  .link-active {
    color: rgb(8, 113, 11);
    
  }